:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navColor {
    background-color: #606060;
    height: 72px;
    left: 0;
    width: 190vw !important;
    @media (min-width: 768px) {
        width: 100vw !important;
    }
}

a {
    font-weight: 500;
    color: #2a2b2c;
    text-decoration: inherit;
}

a:hover {
    color: #212529;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: darkgrey;
}

label {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.titleBackground {
    background-color: 'darkgray';
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #212529;
    }
    button {
        background-color: #f9f9f9;
    }
}
